.mainDiv{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.body{
    position: relative;
   
    border: 5px solid black;
    background-color: red;
    height: 400px;
    width: 350px;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70% ;
}

.textArea{
    
    user-select:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    top: 60px;
    right: 45px;
    background-color: rgb(172, 255, 47);
    width: 250px;
    height: 80px;
    border-radius: 10px;
    text-align: right;
    font-size: 56px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainButton{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    bottom: 30px;
    right: 100px;
    background-color: rgb(181, 181, 181);
    border: 8px solid rgb(152, 152, 152);
    outline: none;
    /* border: none; */
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.mainButton:active{
    background-color: rgb(167, 167, 167);
}

.resetButton{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    top: 160px;
    right: 50px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: rgb(181, 181, 181);
    border: 6px solid rgb(152, 152, 152);
}

.resetButton:active{
    background-color: rgb(167, 167, 167);
}

.menuDiv{
    display:none;
    z-index: 5;
    position: absolute;
    background-color: black;
    height: 500px;
    width: 300px;
}


.menuIcon{
position: absolute;
top: 10px;
left: 10px;
font-size: 64px;

}

.closeIcon{
    color: white;
    font-size: 64px;
}