.mainDiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.body{
    position: relative;
   
    border: 5px solid black;
    background-color: red;
    height: 400px;
    width: 350px;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70% ;
}

.textArea{
    background-color: greenyellow;
    height: 60px;
    text-align: right;
}

.mainButton{
    position: absolute;
    bottom: 30px;
    right: 100px;
    background-color: rgb(181, 181, 181);
    border: 8px solid rgb(152, 152, 152);
    outline: none;
    /* border: none; */
    height: 150px;
    width: 150px;
    border-radius: 100%;
}